.logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/weatherbee-9ac53.appspot.com/o/logo.svg?alt=media&token=3713e40d-15b6-4b86-8580-79d9cc302327");
}
