@keyframes shimmer {
     0% {
    background-position: -468px 0;
  }
  
  100% {
    background-position: 468px 0; 
  }
}


.shimmer {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
}